projects/.DS_Store
projects/StockPrediction/.DS_Store
projects/StockPrediction/.data
projects/StockPrediction/.ipynb_checkpoints/
projects/StockPrediction/__pycache__
projects/StockPrediction/AMZN.csv

seq2seq_basic/.DS_Store
seq2seq_basic/.data
seq2seq_basic/.ipynb_checkpoints
seq2seq_basic/__pycache__
seq2seq_basic/runs/

resenet/.DS_Store
resenet/.data
resenet/.ipynb_checkpoints
resenet/__pycache__

.DS_Store
.data/